<?xml version="1.0"?>
<!-- Copyright © Discorgento. All rights reserved. -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Discorgento_Queue::management" title="Queue" sortOrder="10" />
            </resource>
        </resources>
    </acl>
</config>
