<?xml version="1.0"?>
<!-- Copyright © Discorgento. All rights reserved. -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- models mapping -->
    <preference for="Discorgento\Queue\Api\MessageManagementInterface" type="Discorgento\Queue\Model\MessageManagement"/>
    <preference for="Discorgento\Queue\Api\MessageRepositoryInterface" type="Discorgento\Queue\Model\MessageRepository"/>
    <preference for="Discorgento\Queue\Api\QueueManagementInterface" type="Discorgento\Queue\Model\QueueManagement"/>

    <!-- data models mapping -->
    <preference for="Discorgento\Queue\Api\Data\MessageInterface" type="Discorgento\Queue\Model\Message"/>
    <preference for="Discorgento\Queue\Api\Data\MessageSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <!-- console commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="discorgento_queue_execute" xsi:type="object">Discorgento\Queue\Console\Command\Execute</item>
                <item name="discorgento_queue_clear" xsi:type="object">Discorgento\Queue\Console\Command\Clear</item>
            </argument>
        </arguments>
    </type>

    <!-- /*
     * Grid listing data provider. Although only applying
     * to admin this really needs to be at global scope:
     * https://magento.stackexchange.com/a/220761/39320
     */ -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="discorgento_queue_listing_data_source" xsi:type="string">Discorgento\Queue\Model\ResourceModel\Message\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
