<?xml version="1.0"?>
<!-- Copyright © Caravel. All rights reserved. -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- create a custom logger handler with dedicated file -->
    <virtualType name="Discorgento\Queue\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/discorgento_queue.log</argument>
        </arguments>
    </virtualType>

    <!-- create the custom logger itself -->
    <virtualType name="Discorgento\Queue\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Discorgento\Queue\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- use the custom logger for classes below -->
    <type name="Discorgento\Queue\Model\Cron">
        <arguments>
            <argument name="logger" xsi:type="object">Discorgento\Queue\Logger\Logger</argument>
        </arguments>
    </type>
</config>
