<?xml version="1.0"?>
<!-- Copyright © Discorgento, Inc. All rights reserved. -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Discorgento_Queue">
        <sequence>
            <module name="Discorgento_Core"/>
        </sequence>
    </module>
</config>
