<?xml version="1.0"?>
<!-- Copyright © Discorgento. All rights reserved. -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- data provider -->
    <virtualType name="DiscorgentoMessageGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Discorgento\Queue\Model\ResourceModel\Message\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DiscorgentoMessageGridFilterPool</argument>
        </arguments>
    </virtualType>

    <!-- filter pool -->
    <virtualType name="DiscorgentoMessageGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- grid collection -->
    <type name="Discorgento\Queue\Model\ResourceModel\Message\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">discorgento_queue</argument>
            <argument name="eventPrefix" xsi:type="string">discorgento_queue_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">discorgento_queue_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Discorgento\Queue\Model\ResourceModel\Message</argument>
        </arguments>
    </type>
</config>
