<?xml version="1.0" ?>
<!-- Copyright © Discorgento. All rights reserved. -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="queue" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Queue</label>
            <tab>discorgento</tab>
            <resource>Discorgento_Queue::config_discorgento_queue</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General</label>
                <field id="auto_retry_amount" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
                    <label>Auto-retry amount</label>
                    <validate>validate-number required-entry</validate>
                    <comment>Amount of times to retry a failed job. '0' disables this feature.</comment>
                </field>
                <field id="failed_jobs_expires" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Keep failed jobs for ___ days</label>
                    <validate>validate-number required-entry not-negative-amount</validate>
                </field>
                <field id="success_jobs_expires" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Keep success jobs for ___ days</label>
                    <validate>validate-number required-entry not-negative-amount</validate>
                </field>
            </group>
        </section>
    </system>
</config>
